//=require ../variables.sass
//=require ../mixin/**/*.sass
	
body
	main
		.wrapper
			.content
				display: flex
				flex-wrap: wrap
				justify-content: space-between

				.navigation
					display: flex
					margin-bottom: 40px
					width: 100%

					.cell
						align-items: center
						box-sizing: border-box
						color: #2f2f2f
						cursor: pointer
						display: flex
						flex-direction: column
						justify-content: center
						max-width: 14.2857%
						min-width: 14.2857%
						padding: 25px 10px
						text-align: center
						transition: all .15s ease
						width: 14.2857%

						.name
							color: #fff
							font-size: 13px
							font-weight: 600
							line-height: 19px
							letter-spacing: .3px
							text-shadow: 1px 1px rgba(0,0,0,.24)
							text-transform: uppercase

						.icon
							margin-top: 15px

							img
								height: 50px
								width: 50px

						&:first-child
							border-radius: 3px 0 0 3px

						&:last-child
							border-radius: 0 3px 3px 0

						&[data-tab="surfing"]
							background: #83b6ff
							position: relative

							&::after
								background: #73a9f7
								background: #73a9f7
								bottom: -3px
								content: ''
								height: 3px
								position: absolute
								right: -10px
								width: 100%

							&:hover
								box-shadow: inset 0 0 0px 10px #73a9f7
								text-shadow: 1px 1px #b0d0ff

							&.active
								&:before
									border-bottom: 20px solid #73a9f7
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="task"]
							background: #f7c261
							position: relative

							&::after
								content: ''
								background: #e1ac4b
								bottom: -3px
								height: 3px
								position: absolute
								width: 100%

							&:hover
								box-shadow: inset 0 0 0px 10px #e1ac4b
								text-shadow: 1px 1px #ffd588

							&.active
								&:before
									border-bottom: 20px solid #e1ac4b
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="mail"]
							background: #ba80f9
							position: relative

							&::after
								content: ''
								background: #b173f5
								bottom: -3px
								height: 3px
								position: absolute
								width: 100%

							&:hover
								box-shadow: inset 0 0 0px 10px #b173f5
								text-shadow: 1px 1px #ca9bfd

							&.active
								&:before
									border-bottom: 20px solid #b173f5
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="social"]
							background: #a8cf5d
							position: relative

							&::after
								content: ''
								background: #93bd44
								bottom: -3px
								height: 3px
								position: absolute
								width: 100%

							&:hover
								box-shadow: inset 0 0 0px 10px #93bd44
								text-shadow: 1px 1px #c0e578

							&.active
								&:before
									border-bottom: 20px solid #93bd44
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="autosurfing"]
							background: #3caf96
							position: relative

							&::after
								content: ''
								background: #249d82
								bottom: -3px
								height: 3px
								position: absolute
								width: 100%

							&:hover
								box-shadow: inset 0 0 0px 10px #249d82
								text-shadow: 1px 1px #4abda4

							&.active
								&:before
									border-bottom: 20px solid #249d82
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="context"]
							background: #ff7979
							position: relative

							&::after
								content: ''
								background: #e15858
								bottom: -3px
								height: 3px
								position: absolute
								width: 100%

							&:hover
								box-shadow: inset 0 0 0px 10px #e15858
								text-shadow: 1px 1px #e19494

							&.active
								&:before
									border-bottom: 20px solid #e15858
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="banner"]
							background: #7983ff
							position: relative

							&::after
								content: ''
								background: #6b75f5
								bottom: -3px
								height: 3px
								position: absolute
								right: 10px
								width: calc(100% - 10px)

							&:hover
								box-shadow: inset 0 0 0px 10px #6b75f5
								text-shadow: 1px 1px #8c94f5

							&.active
								&:before
									border-bottom: 20px solid #6b75f5
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0

						&[data-tab="teaser"]
							background: #ff7b9a
							position: relative

							&::after
								content: ''
								background: #f96688
								bottom: -3px
								height: 3px
								right: 10px
								position: absolute
								width: calc(100% - 10px)

							&:hover
								box-shadow: inset 0 0 0px 10px #f96688
								text-shadow: 1px 1px #ff9ab2

							&.active
								&:before
									border-bottom: 20px solid #f96688
									border-left: 20px solid transparent
									border-right: 20px solid transparent
									bottom: 0
									content: ''
									height: 0
									position: absolute
									width: 0
				
				.page
					width: 100%

					.title-block
						width: 100%

						.button-block
							.button
								&::before
									@include sasssvg('fontawesome/regular/bullhorn.svg', '#fff')

					.container
						width: 100%

						.page-about
							color: #000
							display: inline-block
							font-size: 15px
							font-weight: 300
							line-height: 20px

							mark
								background: transparent
								color: #e83e8c
								font-weight: 500
								word-break: break-word

						.title-block
							margin-top: 40px
					
					.modal
						.wrapper
							width: 100%

					&[data-tab-content="autosurfing"]
						.container
							.autosurfing-list
								.item
									background: #fff
									box-shadow: 0px 2px 1px 0px rgba(126, 142, 177, .12)
									margin-top: 15px
									position: relative
									transition: all 0.3s ease

									.item-actions
										display: flex
										position: absolute
										right: 7px
										top: 7px
										z-index: 1

										.status
											align-items: center
											border-radius: 2px
											color: #fff
											display: inline-flex
											font-size: 13px
											font-weight: 600
											letter-spacing: .5px
											margin-left: 5px
											padding: 5px 10px

											&--block, &--moderation, &--pause, &--play, &--start, &--stop
												display: none

												&::before
													content: ''
													display: inline-flex
													height: 12px
													margin-right: 7px
													width: 12px
											
											&--block
												background: #d22
												text-shadow: 1px 1px #b30505

												&::before
													@include sasssvg('fontawesome/solid/bug.svg', '#e66969')
											
											&--moderation
												background: #d67a2b
												text-shadow: 1px 1px #b36812

												&::before
													@include sasssvg('fontawesome/solid/siren-on.svg', '#ebb981')
											
											&--pause
												background: #343a40
												text-shadow: 1px 1px #000

												&::before
													@include sasssvg('fontawesome/solid/pause.svg', '#83878a')
											
											&--play
												background: #24b314
												text-shadow: 1px 1px #119a02

												&::before
													@include sasssvg('fontawesome/solid/play.svg', '#7ad070')
													background-size: 11px
											
											&--start
												background: #047bf8
												text-shadow: 1px 1px #014fa0

												&::before
													@include sasssvg('fontawesome/solid/play.svg', '#66aefb')

												&:hover
													background: #0171e6
											
											&--stop
												background: #343a40
												text-shadow: 1px 1px #000

												&::before
													@include sasssvg('fontawesome/solid/pause.svg', '#83878a')

												&:hover
													background: #000
											
											&--start, &--stop
												cursor: pointer
											
											&:first-child
												margin-left: 0

									.item-info
										box-shadow: 0px 5px 15px rgba(0, 0, 0, .05)
										display: flex
										flex-direction: column
										justify-content: center
										padding: 25px
										position: relative

										.url
											color: #2f2f2f
											font-size: 15px
											font-weight: 500

											span
												display: inline-block
												font-weight: 600
												margin-right: 10px

											a
												color: #2e2e2e
												font-weight: 500

												&:hover
													border-bottom: 1px dashed
													padding-bottom: 2px

										.case
											display: flex
											margin-top: 15px

											.id, .date, .abuse
												color: #505050
												font-size: 13px

												span
													color: #2e2e2e
													margin-left: 7px

												a
													border-bottom: 1px dashed
													margin-left: 7px

												&::before
													@include sasssvg('fontawesome/solid/angles-right.svg', '#212121')
													content: ''
													display: inline-block
													height: 8px
													margin: -3px 9px 0px 10px
													vertical-align: middle
													width: 8px

												&:first-child
													&::before
														display: none

											.id, .date
												span
													font-weight: 500

									.item-expand
										display: none
										
										.item-expand-wrap
											border-top: 1px solid #ededed
											box-shadow: 0px 5px 15px rgba(0, 0, 0, .05)
											display: flex
											flex-direction: row
											flex-wrap: wrap
											gap: 0 20px
											padding: 20px 30px
											position: relative

											.col
												.line
													margin-top: 10px

													.text, .value
														color: #212121
														display: inline-block
														font-size: 15px
														font-weight: 300
														line-height: 20px

													.value
														font-weight: 500
														margin-left: 10px

													&:first-child
														margin-top: 0

													&--cost
														.text
															&::before
																@include sasssvg('fontawesome/solid/tags.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															&::after
																@include sasssvg('fontawesome/solid/ruble-sign.svg', '#212121')
																content: ''
																display: inline-block
																height: 12px
																margin: -4px 8px 0px 2px
																vertical-align: middle
																width: 12px

													&--timer
														.text
															&::before
																@include sasssvg('fontawesome/solid/hourglass-clock.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--total
														.text
															&::before
																@include sasssvg('fontawesome/solid/eye.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--left
														.text
															&::before
																@include sasssvg('fontawesome/solid/elevator.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--viewer
														.text
															&::before
																@include sasssvg('fontawesome/solid/street-view.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															&::after
																@include sasssvg('fontawesome/solid/ruble-sign.svg', '#212121')
																content: ''
																display: inline-block
																height: 12px
																margin: -4px 0px 0px 2px
																vertical-align: middle
																width: 12px

													&--deposit
														.text
															&::before
																@include sasssvg('fontawesome/solid/money-bills.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															&::after
																@include sasssvg('fontawesome/solid/ruble-sign.svg', '#212121')
																content: ''
																display: inline-block
																height: 12px
																margin: -4px 0px 0px 2px
																vertical-align: middle
																width: 12px

														.deposit
															border-bottom: 1px dashed
															color: #047bf8
															cursor: pointer
															display: inline-block
															font-size: 12px
															font-weight: 500
															vertical-align: middle
															line-height: 17px
															margin: -7px 0 0 12px

															&:hover
																color: #024790

												&--one
													width: calc(33.33% - 13.33px)

												&--two
													width: calc(33.33% - 13.33px)

												&--three
													width: calc(33.33% - 13.33px)


									.item-footer
										align-items: center
										border-top: 1px solid #f5f5f5
										display: flex
										justify-content: space-between
										padding: 10px 25px

										.control
											font-size: 11px
											font-weight: 600
											letter-spacing: 0.3px
											text-transform: uppercase
											display: flex

											.cell
												&::before
													@include sasssvg('fontawesome/solid/bars-staggered.svg', '#212121')
													content: ''
													display: inline-block
													height: 8px
													margin: -2px 12px 0px 13px
													vertical-align: middle
													width: 8px

												&:first-child
													&::before
														display: none

												&--delete
													a
														align-items: center
														color: #c70b0b
														display: inline-flex

														&::before
															@include sasssvg('fontawesome/solid/trash.svg', '#c70b0b')
															content: ''
															display: inline-block
															height: 11px
															margin-right: 7px
															vertical-align: middle
															width: 11px

														&:hover
															color: #b50000

															&::before
																@include sasssvg('fontawesome/solid/trash.svg', '#b50000')

												&--edit
													a
														color: #363636

														&:hover
															color: #000

												&--expand
													a
														align-items: center
														color: #0064ce
														display: inline-flex

														&::after
															@include sasssvg('fontawesome/solid/caret-down.svg', '#0064ce')
															content: ''
															display: inline-block
															height: 10px
															margin-left: 4px
															vertical-align: middle
															width: 10px

														&:hover
															color: #0052a9

															&::after
																@include sasssvg('fontawesome/solid/caret-down.svg', '#0052a9')

										.balance
											font-size: 14px
											font-weight: 500

											.text
												color: #2f2f2f
												display: inline-block
												margin-right: 7px

												&::before
													@include sasssvg('fontawesome/solid/money-bills.svg', '#2f2f2f')
													content: ''
													display: inline-block
													height: 18px
													margin: -4px 7px 0px 0px
													vertical-align: middle
													width: 18px

											.deposit
												color: #047bf8
												cursor: pointer
												border-bottom: 1px dashed
												padding-bottom: 2px

												&::after
													@include sasssvg('fontawesome/solid/ruble-sign.svg', '#0571e4')
													content: ''
													display: inline-block
													height: 12px
													margin: -4px 0px 0px 2px
													vertical-align: middle
													width: 12px

												&:hover
													color: #0052a9

													&::after
														@include sasssvg('fontawesome/solid/ruble-sign.svg', '#024790')

												&.null
													color: #d22

													&::after
														@include sasssvg('fontawesome/solid/ruble-sign.svg', '#d61b1b')
														content: ''
														display: inline-block
														height: 12px
														margin: -4px 0px 0px 2px
														vertical-align: middle
														width: 12px

													&:hover
														color: #880505

														&::after
															@include sasssvg('fontawesome/solid/ruble-sign.svg', '#880505')

									&[data-status="0"]
										.item-actions
											.status
												&--pause, &--start
													display: inline-flex
									
									&[data-status="1"]
										.item-actions
											.status
												&--play, &--stop
													display: inline-flex
									
									&[data-status="2"]
										.item-actions
											.status
												&--moderation
													display: inline-flex
									
									&[data-status="3"]
										.item-actions
											.status
												&--block
													display: inline-flex

									&.open
										.item-footer
											.control
												.cell
													&--expand
														a
															&::after
																transform: rotate(-180deg)

					&[data-tab-content="surfing"]
						.container
							.surfing-list
								.item
									background: #fff
									box-shadow: 0px 2px 1px 0px rgba(126, 142, 177, .12)
									margin-top: 15px
									position: relative
									transition: all 0.3s ease

									.item-actions
										display: flex
										position: absolute
										right: 7px
										top: 7px
										z-index: 1

										.status
											align-items: center
											border-radius: 2px
											color: #fff
											display: inline-flex
											font-size: 13px
											font-weight: 600
											letter-spacing: .5px
											margin-left: 5px
											padding: 5px 10px

											&--block, &--moderation, &--pause, &--play, &--start, &--stop
												display: none

												&::before
													content: ''
													display: inline-flex
													height: 12px
													margin-right: 7px
													width: 12px
											
											&--block
												background: #d22
												text-shadow: 1px 1px #b30505

												&::before
													@include sasssvg('fontawesome/solid/bug.svg', '#e66969')
											
											&--moderation
												background: #d67a2b
												text-shadow: 1px 1px #b36812

												&::before
													@include sasssvg('fontawesome/solid/siren-on.svg', '#ebb981')
											
											&--pause
												background: #343a40
												text-shadow: 1px 1px #000

												&::before
													@include sasssvg('fontawesome/solid/pause.svg', '#83878a')
											
											&--play
												background: #24b314
												text-shadow: 1px 1px #119a02

												&::before
													@include sasssvg('fontawesome/solid/play.svg', '#7ad070')
													background-size: 11px
											
											&--start
												background: #047bf8
												text-shadow: 1px 1px #014fa0

												&::before
													@include sasssvg('fontawesome/solid/play.svg', '#66aefb')

												&:hover
													background: #0171e6
											
											&--stop
												background: #343a40
												text-shadow: 1px 1px #000

												&::before
													@include sasssvg('fontawesome/solid/pause.svg', '#83878a')

												&:hover
													background: #000
											
											&--start, &--stop
												cursor: pointer
											
											&:first-child
												margin-left: 0

									.item-info
										box-shadow: 0px 5px 15px rgba(0, 0, 0, .05)
										display: flex
										flex-direction: column
										justify-content: center
										padding: 25px
										position: relative

										.title
											color: #2f2f2f
											display: flex
											font-size: 16px
											font-weight: 500

											img
												height: 16px
												margin-right: 7px
												margin-top: -2px
												width: 16px

										.case
											display: flex
											margin-top: 15px

											.id, .url, .date, .abuse
												color: #505050
												font-size: 13px

												span
													color: #2e2e2e
													margin-left: 7px

												a
													border-bottom: 1px dashed
													margin-left: 7px

												&::before
													@include sasssvg('fontawesome/solid/angles-right.svg', '#212121')
													content: ''
													display: inline-block
													height: 8px
													margin: -3px 9px 0px 10px
													vertical-align: middle
													width: 8px

												&:first-child
													&::before
														display: none

											.id
												span
													font-weight: 500

											.url
												a
													border-bottom: 0
													color: #2e2e2e
													font-weight: 500

													&:hover
														border-bottom: 1px dashed

									.item-expand
										display: none
										
										.item-expand-wrap
											border-top: 1px solid #ededed
											box-shadow: 0px 5px 15px rgba(0, 0, 0, .05)
											display: flex
											flex-direction: row
											flex-wrap: wrap
											gap: 0 20px
											padding: 20px 30px
											position: relative

											.col
												.line
													margin-top: 10px

													.text, .value
														color: #212121
														display: inline-block
														font-size: 15px
														font-weight: 300
														line-height: 20px

													.value
														font-weight: 500
														margin-left: 10px

													&:first-child
														margin-top: 0

													&--cost
														.text
															&::before
																@include sasssvg('fontawesome/solid/tags.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															&::after
																@include sasssvg('fontawesome/solid/ruble-sign.svg', '#212121')
																content: ''
																display: inline-block
																height: 12px
																margin: -4px 8px 0px 2px
																vertical-align: middle
																width: 12px

													&--timer
														.text
															&::before
																@include sasssvg('fontawesome/solid/hourglass-clock.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--speed
														.text
															&::before
																@include sasssvg('fontawesome/solid/sliders-up.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															border-bottom: 1px dashed
															color: #047bf8
															cursor: pointer

															&::after
																@include sasssvg('fontawesome/solid/caret-down.svg', '#0064ce')
																content: ''
																display: inline-block
																height: 8px
																margin: -2px 0 0 4px
																vertical-align: middle
																width: 8px

															.choise
																background: #fff
																border-radius: 3px
																box-shadow: 0px 0px 0px 1px rgba(0,0,0,.08)
																display: none
																margin-left: -2px
																position: absolute

																div
																	border-radius: 3px 3px 0 0
																	color: #212121
																	cursor: pointer
																	font-size: 12px
																	padding: 5px 15px

																	&.selected
																		background: #f3f3f3

																	&:hover
																		background: #f3f3f3
															
															&:hover
																color: #024790

																.choise
																	display: block

													&--geo
														.text
															&::before
																@include sasssvg('fontawesome/solid/earth-americas.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--active
														.text
															&::before
																@include sasssvg('fontawesome/solid/window-restore.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--auto
														.text
															&::before
																@include sasssvg('fontawesome/solid/message-bot.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--total
														.text
															&::before
																@include sasssvg('fontawesome/solid/eye.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--left
														.text
															&::before
																@include sasssvg('fontawesome/solid/elevator.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

													&--viewer
														.text
															&::before
																@include sasssvg('fontawesome/solid/street-view.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															&::after
																@include sasssvg('fontawesome/solid/ruble-sign.svg', '#212121')
																content: ''
																display: inline-block
																height: 12px
																margin: -4px 0px 0px 2px
																vertical-align: middle
																width: 12px

													&--deposit
														.text
															&::before
																@include sasssvg('fontawesome/solid/money-bills.svg', '#212121')
																content: ''
																display: inline-block
																height: 16px
																margin: -4px 8px 0px 0px
																vertical-align: middle
																width: 16px

														.value
															&::after
																@include sasssvg('fontawesome/solid/ruble-sign.svg', '#212121')
																content: ''
																display: inline-block
																height: 12px
																margin: -4px 0px 0px 2px
																vertical-align: middle
																width: 12px

														.deposit
															border-bottom: 1px dashed
															color: #047bf8
															cursor: pointer
															display: inline-block
															font-size: 12px
															font-weight: 500
															vertical-align: middle
															line-height: 17px
															margin: -7px 0 0 12px

															&:hover
																color: #024790

												&--info
													width: 33%

												&--other
													width: 30%

												&--chart
													text-align: center
													width: calc(33.333% - 40px)

													.title
														color: #2f2f2f
														font-size: 12px
														font-weight: 600
														margin: 10px 0

														&:first-child
															margin-top: 0
														
													.chart
														height: 58px

									.item-footer
										align-items: center
										border-top: 1px solid #f5f5f5
										display: flex
										justify-content: space-between
										padding: 10px 25px

										.control
											font-size: 11px
											font-weight: 600
											letter-spacing: 0.3px
											text-transform: uppercase
											display: flex

											.cell
												&::before
													@include sasssvg('fontawesome/solid/bars-staggered.svg', '#212121')
													content: ''
													display: inline-block
													height: 8px
													margin: -2px 12px 0px 13px
													vertical-align: middle
													width: 8px

												&:first-child
													&::before
														display: none

												&--delete
													a
														align-items: center
														color: #c70b0b
														display: inline-flex

														&::before
															@include sasssvg('fontawesome/solid/trash.svg', '#c70b0b')
															content: ''
															display: inline-block
															height: 11px
															margin-right: 7px
															vertical-align: middle
															width: 11px

														&:hover
															color: #b50000

															&::before
																@include sasssvg('fontawesome/solid/trash.svg', '#b50000')

												&--edit
													a
														color: #363636

														&:hover
															color: #000

												&--expand
													a
														align-items: center
														color: #0064ce
														display: inline-flex

														&::after
															@include sasssvg('fontawesome/solid/caret-down.svg', '#0064ce')
															content: ''
															display: inline-block
															height: 10px
															margin-left: 4px
															vertical-align: middle
															width: 10px

														&:hover
															color: #0052a9

															&::after
																@include sasssvg('fontawesome/solid/caret-down.svg', '#0052a9')

										.balance
											font-size: 14px
											font-weight: 500

											.text
												color: #2f2f2f
												display: inline-block
												margin-right: 7px

												&::before
													@include sasssvg('fontawesome/solid/money-bills.svg', '#2f2f2f')
													content: ''
													display: inline-block
													height: 18px
													margin: -4px 7px 0px 0px
													vertical-align: middle
													width: 18px

											.deposit
												color: #047bf8
												cursor: pointer
												border-bottom: 1px dashed
												padding-bottom: 2px

												&::after
													@include sasssvg('fontawesome/solid/ruble-sign.svg', '#0571e4')
													content: ''
													display: inline-block
													height: 12px
													margin: -4px 0px 0px 2px
													vertical-align: middle
													width: 12px

												&:hover
													color: #0052a9

													&::after
														@include sasssvg('fontawesome/solid/ruble-sign.svg', '#024790')

												&.null
													color: #d22

													&::after
														@include sasssvg('fontawesome/solid/ruble-sign.svg', '#d61b1b')
														content: ''
														display: inline-block
														height: 12px
														margin: -4px 0px 0px 2px
														vertical-align: middle
														width: 12px

													&:hover
														color: #880505

														&::after
															@include sasssvg('fontawesome/solid/ruble-sign.svg', '#880505')

									&[data-status="0"]
										.item-actions
											.status
												&--pause, &--start
													display: inline-flex
									
									&[data-status="1"]
										.item-actions
											.status
												&--play, &--stop
													display: inline-flex
									
									&[data-status="2"]
										.item-actions
											.status
												&--moderation
													display: inline-flex
									
									&[data-status="3"]
										.item-actions
											.status
												&--block
													display: inline-flex

									&--vip
										box-shadow: 0px 2px 1px 0px rgba(218, 209, 123, .19)

										.item-info
											background: rgba(247, 245, 217, .48)
											box-shadow: 0px 4px 11px rgba(212, 209, 164, .32)

										.item-expand, .item-footer
											background: rgba(251, 250, 237, .52)
											border-top: 1px solid #f5f3e0

										.item-expand
											.item-expand-wrap
												border-top: 0
									
									&.open
										.item-footer
											.control
												.cell
													&--expand
														a
															&::after
																transform: rotate(-180deg)
							
						.modal
							&[data-path="surf-deposit"]
								.wrapper
									.content
										.button-group
											display: flex
											justify-content: center
											margin-bottom: 20px

											.in, .out
												background: #343a40
												color: #fff
												cursor: pointer
												font-size: 14px
												font-weight: 500
												letter-spacing: .3px
												padding: 5px 15px
												transition: all .1s ease

												&:first-child
													border-radius: 2px 0 0 2px

												&:last-child
													border-radius: 0 2px 2px 0

												&.active
													background: #1d2124

												&:not(active)
													&:hover
														background: #23272b

										form
											.alert
												background: #f9f9f9
												border-left: 2px solid #ececec
												color: #212121
												font-size: 15px
												font-weight: 300
												line-height: 21px
												margin-top: 5px
												padding: 8px 15px

												span
													font-weight: 500

											.unit
												align-items: center
												display: flex
												flex-direction: column

												.title
													font-size: 11px
													font-weight: 600
													letter-spacing: .3px
													margin-top: 20px
													text-transform: uppercase

												.form-group
													display: flex
													margin-top: 2px
													width: 230px

													.icon
														align-items: center
														background: #eeeeef
														border-radius: 2px 0 0 2px
														border: 1px solid #dadada
														border-right: 0
														color: #313131
														display: flex
														height: 38px
														justify-content: center
														width: 42px

														&::after
															@include sasssvg('fontawesome/solid/ruble-sign.svg', '#313131')
															content: ''
															display: inline-block
															height: 15px
															margin: 0
															vertical-align: middle
															width: 15px

													input
														border: 1px solid #dadada
														border-radius: 0 2px 2px 0
														height: 40px

												.info
													font-size: 13px
													font-weight: 300
													margin-top: 7px

													b
														font-weight: 500

											.actions
												display: flex
												justify-content: center
												margin-top: 20px

												[data-action="deposit"], [data-action="payout"], [data-action="close"]
													cursor: pointer
													display: inline-block
													width: auto

												[data-action="deposit"]
													background: #24b314
													margin-right: 10px

													&:hover
														background: #1d9110

												[data-action="payout"]
													background: #047bf8
													margin-right: 10px

													&:hover
														background: #0368d2

												[data-action="close"]
													background: #292b2c

													&:hover
														background: #171818

											&.payout
												display: none

							&[data-path="surf-delete"]
								.wrapper
									.content
										.alert
											background: #f9f9f9
											border-left: 2px solid #ececec
											color: #212121
											font-size: 15px
											font-weight: 300
											line-height: 21px
											margin-top: 5px
											padding: 8px 15px

											span
												font-weight: 500

										.unit
											align-items: center
											display: flex
											flex-direction: column

											.title
												font-size: 11px
												font-weight: 600
												letter-spacing: .3px
												margin-top: 20px
												text-transform: uppercase

											.form-group
												display: flex
												margin-top: 2px
												width: 230px

												.icon
													align-items: center
													background: #eeeeef
													border-radius: 2px 0 0 2px
													border: 1px solid #dadada
													border-right: 0
													color: #313131
													display: flex
													height: 38px
													justify-content: center
													width: 42px

													&::after
														@include sasssvg('fontawesome/solid/ruble-sign.svg', '#313131')
														content: ''
														display: inline-block
														height: 15px
														margin: 0
														vertical-align: middle
														width: 15px

												input
													border: 1px solid #dadada
													border-radius: 0 2px 2px 0
													height: 40px

											.info
												font-size: 13px
												font-weight: 300
												margin-top: 7px

												b
													font-weight: 500

										.actions
											display: flex
											justify-content: center
											margin-top: 20px

											[data-action="delete"], [data-action="close"]
												cursor: pointer
												display: inline-block
												width: auto

											[data-action="delete"]
												background: #e13131
												margin-right: 10px

												&:hover
													background: #c91c1c

											[data-action="close"]
												background: #292b2c

												&:hover
													background: #171818

							&[data-path="surf-abuse-list"]
								.wrapper
									.content
										max-width: 900px

										.about
											background: #f3f8f9
											border-left: 1px solid #9ed2e2
											border-right: 1px solid #9ed2e2
											border-top: 1px solid #9ed2e2
											box-shadow: inset 0px 0px 4px 0px #90c6d6
											font-size: 15px
											font-weight: 300
											letter-spacing: 0.3px
											padding: 20px 25px
											text-align: left

											p
												&:first-child
													margin-top: 0

												&:last-child
													margin-bottom: 0

										table
											border-collapse: collapse
											margin-top: 20px
											max-width: 100%
											width: 100%

											thead
												tr
													th
														border-bottom: 1px solid #e4e4e4
														font-size: 11px
														font-weight: 600
														letter-spacing: .3px
														padding: 12px
														text-align: left
														text-transform: uppercase

														&:last-child
															text-align: center

											tbody
												tr
													td
														border-top: 1px solid #f6f6f6
														font-size: 13px
														font-weight: 300
														padding: 15px 12px
														text-align: left

														&:nth-child(2)
															div
																max-width: 560px
																overflow: hidden
																text-overflow: ellipsis
																white-space: normal

																span
																	display: inline-block
																	font-weight: 500
																	margin-right: 10px

														&:nth-child(3)
															align-items: center
															display: flex
															flex-direction: column
															font-weight: 500
															justify-content: center
															min-height: 40px

															img
																border-radius: 5px
																height: 50px
																width: 50px

															a
																font-size: 14px
																margin-top: 5px

															.success, .fail
																font-size: 13px
																font-weight: 600
																line-height: 17px

															.success
																color: #bb0000

															.fail
																color: #0f8601

															.date
																font-size: 12px
																font-weight: 400